# Clerk publishable key
NUXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
# Clerk secret key
CLERK_SECRET_KEY=
# Agno backend URL
AGNO_BACKEND_URL=http://localhost:7777
# Postgres database url
DATABASE_URL=
# Blob read write token
BLOB_READ_WRITE_TOKEN=
